@model Harvin.Models.Automovel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/TemplateAdmin.cshtml";

}

<h2>Detalhes</h2>

<div>
    <h4>Automovel</h4>

    <table class="table">

        <tr>
            <th>@Html.DisplayNameFor(model => model.AutomovelMarca)</th>
            <th>@Html.DisplayNameFor(model => model.AutomovelModelo)</th>
            <th>@Html.DisplayNameFor(model => model.AutomovelAno)</th>
            <th>@Html.DisplayNameFor(model => model.AutomovelCor)</th>
            <th>@Html.DisplayNameFor(model => model.AutomovelPlaca)</th>
            <th>@Html.DisplayNameFor(model => model.AutomovelRenavan)</th>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.AutomovelMarca)</td>
            <td>@Html.DisplayFor(model => model.AutomovelModelo)</td>
            <td>@Html.DisplayFor(model => model.AutomovelAno)</td>
            <td>@Html.DisplayFor(model => model.AutomovelCor)</td>
            <td>@Html.DisplayFor(model => model.AutomovelPlaca)</td>
            <td>@Html.DisplayFor(model => model.AutomovelRenavan)</td>
        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Todos os Automóveis", "Index")
</p>
